<form action="answer" method="get" class="d-flex align-items-center">
  <input type="text" id="question" name="question" class="form-control border-end-0" placeholder="Type your question...">
  <input type="submit" id="button" name="" class="btn btn-primary" value="Ask !">
</form>
